---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonios" description="Podras encontrar varias referencias de clientes satisfechos con nosotros." />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"He estado llevando a mi gato Filipo con Golden Exotic Pets desde que mi gato tenia apenas uno 6 meses, ya este mes cumple sus 19 años y se encuentra con una excelente salud, contando con todo y sus travesuras nocturnas. Siempre recibo atencion oportuna e información preventiva para el correcto cuidado de mis mascotas"</p>
            <span class="text-lime text-base md:text-xl font-medium">Gerardo Lagunes<br/></span><span class="text-white text-lg font-normal">Dueño de Filipo</span>
        </div>
    </div>
</div>

</Container>